body,
html {
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Roboto, Arial, PingFang SC, Hiragino Sans GB, Microsoft Yahei, Microsoft Jhenghei, sans-serif;
}
#header {
  min-width: 1200px;
}
.wrap {
  height: 100%;
}
.nav {
  position: fixed;
  right: 2.604vw;
  top: 2.604vw;
  width: 2.604vw;
  height: 2.604vw;
  min-width: 30px;
  min-height: 30px;
  border: 1px solid #fff;
  cursor: pointer;
  z-index: 999;
  transform: translateX(120px);
  -webkit-transform: translateX(120px);
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyAQMAAAAk8RryAAAAA3NCSVQICAjb4U/gAAAABlBMVEX///////9VfPVsAAAAAnRSTlP/AOW3MEoAAAAJcEhZcwAACusAAArrAYKLDVoAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAAARklEQVQYlWP4DwYHGAaA/gylH0Pp41C6H0rLQ+h/9hD6Tz2E/gHV/xFKP4bSz9H4MHmYeph+mHkw8+H2HUdzz2ca+x8bDQATrkoC6O0IrAAAAABJRU5ErkJggg==") center no-repeat;
  background-size: 100%;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}
.nav.on {
  animation: navIn 1.5s 0.5s forwards;
  -webkit-animation: navIn 1.5s 0.5s forwards;
}
.logo_new {
  width: 11.354vw;
  height: 2.92vw;
  background-size: contain;
  position: absolute;
  left: 12.5vw;
  top: 5.208vw;
  z-index: 999;
  min-width: 163.5px;
  min-height: 42px;
  display: none;
}
.logo_new.on {
  display: block;
}
.use_now {
  width: 175px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  border: 1px solid #ffffff;
  margin-top: 3.385vw;
  z-index: 999;
  cursor: pointer;
  transition: 0.4s;
  min-width: 105px;
  min-height: 30px;
}
.use_now:hover {
  transition: 0.4s;
  background: #f16a55;
  border: 1px solid #f16a55;
}
.load {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: #2aa56d url(../img/loading.gif) center center no-repeat;
  z-index: 100;
}
.load.over {
  animation: loadover 0.8s 0.3s forwards;
  -webkit-animation: loadover 0.8s 0.3s forwards;
}
.map {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  background: #9ec0cd;
  cursor: pointer;
}
.map .map-image svg {
  width: 100%;
  height: 100%;
  x: 0px;
  y: 0px;
  transform-origin: 50% 50% 0px;
  -webkit-transform-origin: 50% 50% 0px;
}
image.cloud {
  animation: cloud 20s 0s infinite;
}
.map .map-tools {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.map .map-tools > div {
  opacity: 1;
  width: auto;
  height: auto;
  overflow: visible;
  position: absolute;
  left: 150px;
  top: 150px;
  margin-left: -42px;
  margin-top: -42px;
}
.map .map-tools > div.active .map-tools-tip:after {
  visibility: visible;
}
.map .map-tools > div.active .map-tools-content {
  display: block;
  transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
  animation: maptoolscontent .4s 0s forwards;
  -webkit-animation: maptoolscontent .4s 0s forwards;
}
.map .map-tools .map-tools-tip {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  left: 41px;
  top: 41px;
  font-size: 14px;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  background: #ec514e;
  position: absolute;
  z-index: 1;
}
.map .map-tools .map-tools-tip:before {
  content: "";
  background: #ec514e;
  opacity: 0.2;
  position: absolute;
  width: 142px;
  height: 142px;
  top: -36px;
  left: -36px;
  border-radius: 142px;
  -webkit-border-radius: 142px;
  -moz-border-radius: 142px;
  animation: scale 1s 0.4s infinite;
  -webkit-animation: scale 1s 0.4s infinite;
  z-index: -1;
}
.map .map-tools .map-tools-tip:after {
  content: "";
  background: #ec514e;
  opacity: 0.2;
  position: absolute;
  width: 142px;
  height: 142px;
  top: -36px;
  left: -36px;
  border-radius: 142px;
  -webkit-border-radius: 142px;
  -moz-border-radius: 142px;
  animation: scale 1s 0.8s infinite;
  -webkit-animation: scale 1s 0.8s infinite;
  z-index: -1;
  visibility: hidden;
}
.map .map-tools .map-tools-tip:hover:after {
  visibility: visible;
}
.map .map-tools .map-tools-content {
  display: none;
  padding-left: 30px;
  box-sizing: border-box;
  position: absolute;
  left: 165px;
  top: 5px;
  width: 390px;
  height: 132px;
  opacity: 0;
  background: #fff;
  background-position: 340px center;
  z-index: 2;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}
.map .map-tools .map-tools-content > p {
  font-size: 2vmin;
  line-height: 2.2em;
  color: #FF7171;
}
.map .map-tools .map-tools-content > div {
  color: #7F7F7F;
  font-size: 1.5vmin;
  line-height: 1.6em;
  margin-right: 70px;
}
.map .map-tools .map-tools-content .close {
  content: "";
  position: absolute;
  top: 5px;
  right: 5px;
  width: 26px;
  height: 26px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaBAMAAABbZFH9AAAAA3NCSVQICAjb4U/gAAAAG1BMVEX/cXH/zMz/eXn/5OT/hob/nZ3/0tL/i4v////Ocy9gAAAACXRSTlP//////////wBTT3gSAAAACXBIWXMAAAsSAAALEgHS3X78AAAAFnRFWHRDcmVhdGlvbiBUaW1lADEyLzE5LzE29fgEmQAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAAB0SURBVBiVbdDNCYAwDIbhz4ITePEouEFPjuLREbqCtNCMbZMY4QN7e3lKf4J7lVj1xDV9lWd0BNZth5TAnA5I4CCBBA7SclTSclSyUjSyUjTy6liMvKQko7cajH6LdvIpdAPfTi/jV9OP+Lc0CZ4ST5Cm+wBOKIoZyagqqwAAAABJRU5ErkJggg==") center no-repeat;
  background-size: 60%;
  z-index: 10;
}
.map .map-tools .map-tools-content:before,
.map .map-tools .map-tools-content:after {
  content: "";
  width: 20px;
  height: 2px;
  background: #FF7171;
  position: absolute;
  right: 30px;
  top: 50%;
  margin-top: -8px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.map .map-tools .map-tools-content:after {
  margin-top: 6px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.map .map-tools .map-tools-content.mobileW {
  position: fixed;
  width: 60%;
  left: 20%;
  top: 50%;
  margin-left: 0px;
  margin-top: -60px;
  transform-origin: 50% 50% !important;
  -webkit-transform-origin: 50% 50% !important;
  animation: maptoolscontent_min .4s 0s forwards !important;
  -webkit-animation: maptoolscontent_min .4s 0s forwards !important;
}
.map #bus3 {
  animation: bus1 4.5s 0.75s linear infinite;
  -webkit-animation: bus1 4.5s 0.75s linear infinite;
}
.map #bus5 {
  animation: bus5 3.5s 0s linear infinite;
  -webkit-animation: bus5 3.5s 0s linear infinite;
}
.page {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
.page .swiper-container {
  height: 100%;
  overflow: hidden;
  width: 100%;
  left: 100%;
  position: absolute;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  z-index: 109;
}
.page .swiper-container.active {
  left: 0;
}
.page .swiper-next {
  position: absolute;
  bottom: 60px;
  left: 50%;
  margin-left: -18px;
  color: #fff;
  z-index: 109;
  display: none;
  width: 2.604vw;
  height: 2.604vw;
  margin-left: -1.3vw;
  animation: nextbtn 2s 0s ease infinite;
  -webkit-animation: nextbtn 2s 0s ease infinite;
}
.page .swiper-next i {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyAQMAAAAk8RryAAAAA3NCSVQICAjb4U/gAAAABlBMVEX///////9VfPVsAAAAAnRSTlP/AOW3MEoAAAAJcEhZcwAACusAAArrAYKLDVoAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAAAcUlEQVQYlcXQQQ3AMAiFYZwgpdIqAQmzwg0hKODWJU0Zb2hYxuU78YdA+Y7SX17gVhIYSgZdyaEpBRSlBVlpz8wzlM7I3LM6nLnQq0DACjisgMEKCKwAwz1rtTyjUriDV98j0Zq3bm1Iu7jdoz3zg388+GJAOwlhyZwAAAAASUVORK5CYII=") center no-repeat;
  background-size: 100%;
}
.swiper-wrapper .swiper-slide {
  position: relative;
  box-sizing: border-box;
  z-index: 105;
  display: table;
}
.swiper-wrapper .swiper-slide .image {
  position: relative;
  width: 50%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  opacity: 0;
}
.swiper-wrapper .swiper-slide > div:nth-of-type(1) {
  padding: 0 0 0 10%;
}
.swiper-wrapper .swiper-slide > div:nth-of-type(2) {
  padding: 0 10% 0 0;
}
.swiper-wrapper .swiper-slide .image svg {
  width: 100%;
  height: 100%;
}
.swiper-wrapper .swiper-slide .desc {
  position: relative;
  min-width: 50%;
  padding: 0 5% !important;
  display: table-cell;
  vertical-align: middle;
  opacity: 0;
}
.swiper-wrapper .swiper-slide .desc p {
  color: #fff;
}
.swiper-wrapper .swiper-slide .desc p:nth-of-type(1) {
  font-size: 2.05vw;
  line-height: 2em;
}
.swiper-wrapper .swiper-slide .desc p:nth-of-type(2) {
  font-size: 0.85vw;
  margin-top: 4%;
  line-height: 1.8em;
}
.swiper-wrapper .swiper-slide.swiper-slide-active .image {
  opacity: 1;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
}
.swiper-wrapper .swiper-slide.swiper-slide-active .desc {
  opacity: 1;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}
.business .swiper-wrapper .swiper-slide {
  padding: 5%;
}
.business .swiper-wrapper .swiper-slide .image {
  padding: 0 3%;
}
.swiper-wrapper .swiper-slide:nth-of-type(2n+1) {
  background: #378e66;
}
.swiper-wrapper .swiper-slide:nth-of-type(2n) {
  background: #7499d1;
}
.market .swiper-slide:nth-of-type(3) .image {
  width: 30%;
  padding: 0 2%;
}
.market .swiper-slide:nth-of-type(3) .desc {
  width: 70%;
}
.pay img {
  max-width: 80%;
  margin-top: 10px;
}
.risk-manage {
  display: table;
}
.risk-manage li {
  display: table-cell;
  padding: 2%;
}
.risk-manage li .title {
  font-size: 1.45vw !important;
  text-align: center;
}
.risk-manage li .content {
  margin-top: 10px !important;
}
.risk-manage li i {
  display: block;
  width: 3.125vw;
  height: 3.125vw;
  min-width: 30px;
  min-height: 30px;
  border: 1px solid #fff;
  border-radius: 60px;
  margin: 10px auto;
}
.swiper-slide-active #alipay_animate {
  animation: alipay_animate 3s 0s infinite;
  -webkit-animation: alipay_animate 3s 0s infinite;
}
.swiper-slide-active #quickpass_animate {
  animation: quickpass_animate 3s 0s infinite;
  -webkit-animation: quickpass_animate 3s 0s infinite;
}
.swiper-slide-active #clock_animate {
  animation: clock_animate 1s 1s ease forwards;
  -webkit-animation: clock_animate 1s 1s ease forwards;
  opacity: 0;
}
@-webkit-keyframes cloud {
  0%,
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0);
  }
}
@keyframes cloud {
  0%,
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0);
  }
}
@-webkit-keyframes alipay_animate {
  0%,
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  50% {
    -webkit-transform: translate3d(20px, -20px, 0);
    transform: translate3d(20px, -20px, 0);
    opacity: 1;
  }
}
@keyframes alipay_animate {
  0%,
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  50% {
    -webkit-transform: translate3d(20px, -20px, 0);
    transform: translate3d(20px, -20px, 0);
    opacity: 1;
  }
}
@-webkit-keyframes quickpass_animate {
  0%,
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  50% {
    -webkit-transform: translate3d(20px, 10px, 0);
    transform: translate3d(20px, 10px, 0);
    opacity: 1;
  }
}
@keyframes quickpass_animate {
  0%,
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  50% {
    -webkit-transform: translate3d(20px, 10px, 0);
    transform: translate3d(20px, 10px, 0);
    opacity: 1;
  }
}
@-webkit-keyframes clock_animate {
  0%{
    -webkit-transform: translate3d(0, -9999px, 0);
    transform: translate3d(0, -9999px, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes clock_animate {
  0%{
    -webkit-transform: translate3d(0, -9999px, 0);
    transform: translate3d(0, -9999px, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@-webkit-keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes scale {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
@keyframes maptoolscontent {
  0% {
    transform: rotate(90deg) scale(0.1);
    opacity: 0.5;
  }
  60% {
    transform: rotate(-5deg);
    opacity: 1;
  }
  80% {
    transform: rotate(5deg);
    opacity: 1;
  }
  100% {
    transform: rotate(0) scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes maptoolscontent {
  0% {
    -webkit-transform: rotate(90deg) scale(0.1);
    opacity: 0.5;
  }
  60% {
    -webkit-transform: rotate(-5deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: rotate(5deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
    opacity: 1;
  }
}
@keyframes maptoolscontent_min {
  0% {
    transform: scale(0.1);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes maptoolscontent_min {
  0% {
    -webkit-transform: scale(0.1);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
@keyframes load {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes load {
  0% {
    -webkit-transform: translateY(50px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@keyframes loadover {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  99% {
    opacity: 0;
    transform: scale(10);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
@-webkit-keyframes loadover {
  0% {
    left: 0;
    opacity: 1;
    -webkit-transform: scale(1);
    border-radius: 5%;
  }
  100% {
    left: 0;
    opacity: 0;
    -webkit-transform: scale(0);
    border-radius: 100%;
  }
}
@keyframes bowlover {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(5);
    opacity: 0;
  }
}
@keyframes navIn {
  0% {
    transform: translateX(120px);
    opacity: 0;
  }
  60% {
    transform: translateX(-10px);
    opacity: 1;
  }
  70% {
    transform: translateX(10px);
    opacity: 1;
  }
  80% {
    transform: translateX(-5px);
    opacity: 1;
  }
  90% {
    transform: translateX(2px);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes navIn {
  0% {
    -webkit-transform: translateX(120px);
    opacity: 0;
  }
  60% {
    -webkit-transform: translateX(-10px);
    opacity: 1;
  }
  70% {
    -webkit-transform: translateX(10px);
    opacity: 1;
  }
  80% {
    -webkit-transform: translateX(-5px);
    opacity: 1;
  }
  90% {
    -webkit-transform: translateX(2px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}
@keyframes moveup {
  0% {
    transform: translateY(180px);
    opacity: 0;
  }
  40% {
    transform: translateY(-10px);
    opacity: 1;
  }
  70% {
    transform: translateY(10px);
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-webkit-keyframes moveup {
  0% {
    -webkit-transform: translateY(180px);
    opacity: 0;
  }
  40% {
    -webkit-transform: translateY(-10px);
    opacity: 1;
  }
  70% {
    -webkit-transform: translateY(10px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes nextbtn {
  0% {
    transform: translateY(-1.5625vw);
    opacity: 0;
  }
  50% {
    transform: translateY(-0.52 .8vw);
    opacity: 1;
  }
  100% {
    transform: translateY(0.2604vw);
    opacity: 0;
  }
}
@-webkit-keyframes nextbtn {
  0% {
    -webkit-transform: translateY(-1.5625vw);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(-0.52 .8vw);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0.2604vw);
    opacity: 0;
  }
}
@keyframes weirao {
  0% {
    transform: translate(-5px, 3px);
    opacity: 1;
  }
  50% {
    transform: translate(5px, -3px);
    opacity: 1;
  }
  100% {
    transform: translate(-5px, 3px);
    opacity: 1;
  }
}
@-webkit-keyframes weirao {
  0% {
    -webkit-transform: translate(-5px, 3px);
    opacity: 1;
  }
  50% {
    -webkit-transform: translate(5px, -3px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-5px, 3px);
    opacity: 1;
  }
}
@media screen and (min-width: 1440px) {
  .desc p:nth-of-type(2) {
    font-size: 16px !important;
  }
  .risk-manage li .title {
    font-size: 18px !important;
  }
}
@media screen and (max-width: 1439px) {
  .map .map-tools .map-tools-content {
    width: 350px;
    height: 120px;
    left: 135px;
    top: 15px;
    padding-left: 15px;
  }
  .map .map-tools .map-tools-content:before,
  .map .map-tools .map-tools-content:after {
    right: 20px;
  }
  .risk-manage li .title {
    font-size: 16px !important;
  }
  .desc p:nth-of-type(2) {
    font-size: 14px !important;
  }
}
@media screen and (max-width: 1280px) {
  .map .map-tools .map-tools-content {
    width: 260px;
    height: 120px;
    left: 125px;
    top: 15px;
    padding-left: 10px;
  }
  .map .map-tools .map-tools-content:before,
  .map .map-tools .map-tools-content:after {
    width: 16px;
    height: 2px;
    right: 11px;
    margin-top: -6px;
  }
  .map .map-tools .map-tools-content:after {
    margin-top: 5px;
  }
}
@media screen and (max-width: 1024px) {
  #header {
    display: none;
  }
  .map .map-tools .map-tools-tip {
    width: 60px;
    height: 60px;    
    font-size: 12px;
  }
  .map .map-tools .map-tools-tip:before,
  .map .map-tools .map-tools-tip:after {
    width: 100px;
    height: 100px;
    left: -20px;
    top: -20px;
  }
  .use_now {
    font-size: 14px;
    width: 140px;
    height: 40px;
    line-height: 40px;
  }
  .risk-manage li .title {
    font-size: 13px !important;
    text-align: center;
  }
  .desc p:nth-of-type(2) {
    font-size: 11px !important;
  }
}
@media screen and (max-width: 640px) {
  #header {
    display: none;
  }
  .map .map-tools .map-tools-content {
    width: 240px;
    height: 100px;
    left: 125px;
    top: 20px;
    padding-left: 10px;
  }
  .map .map-tools .map-tools-content:before,
  .map .map-tools .map-tools-content:after {
    width: 16px;
    height: 2px;
    right: 11px;
    margin-top: -6px;
  }
  .map .map-tools .map-tools-content:after {
    margin-top: 5px;
  }
  .map .map-tools .map-tools-tip {
    width: 50px;
    height: 50px;
    font-size: 10px;
  }
  .map .map-tools .map-tools-tip:before,
  .map .map-tools .map-tools-tip:after {
    width: 80px;
    height: 80px;
    left: -15px;
    top: -15px;
  }
  .risk-manage li .title {
    font-size: 13px !important;
    text-align: center;
  }
  .desc p:nth-of-type(1) {
    font-size: 13px !important;
  }
  .desc p:nth-of-type(2) {
    font-size: 11px !important;
  }
  .second_center {
    left: 5% !important;
  }
  .second_center div {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
  }
  .swiper-next {
    width: 20px !important;
    height: 20px !important;
  }
  .takeaway,
  .pay {
    width: auto !important;
  }
}
@media screen and (max-width: 440px) {
  .desc .risk-manage li p.title {
    font-size: 11px !important;
    text-align: center;
  }
  .desc p:nth-of-type(1) {
    font-size: 14px !important;
  }
  .desc p:nth-of-type(2) {
    font-size: 10px !important;
  }
  .map .map-tools .map-tools-content {
    width: 210px;
    height: 100px;
    left: 115px;
    top: 15px;
    padding-left: 10px;
  }
  .map .map-tools .map-tools-content:before,
  .map .map-tools .map-tools-content:after {
    width: 16px;
    height: 2px;
    right: 8px;
    margin-top: -6px;
  }
  .map .map-tools .map-tools-content:after {
    margin-top: 5px;
  }
  .swiper-wrapper .swiper-slide {
    display: block;
    padding: 0 !important;
  }
  .swiper-wrapper .swiper-slide .desc {
    box-sizing: border-box;
    position: absolute;
    width: 100% !important;
    top: 45%;
    max-height: 45%;
    overflow: auto;
    text-align: center;
  }
  .swiper-wrapper .swiper-slide .image {
    box-sizing: border-box;
    position: absolute;
    width: 100% !important;
    padding: 0 20% !important;
    top: 5%;
    height: auto;
  }
  .second_center {
    display: none;
  }
  .page .swiper-next {
    bottom: 10px !important;
  }
  .use_now {
    margin: 10px auto;
  }
}